<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#each style}}
      <link rel="stylesheet" href="styles/{{this}}" />
    {{/each}}
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    {{#if script}}
      <script src="javascript/{{script}}" type="module"></script>
    {{/if}}
    <title> {{title}} </title>
  </head>
  <body>
    <nav>
      <ul id="index">
        <li><a href="/about">About page</a></li>

        <li><a href="/">Home page</a></li>

        <li><a href="/works">Works</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>