{{! <h1>This is the works page !</h1> }}

<section class="work-section">
  <div>
    <img id="ecework" src="/images/ecejpgjpg.jpg" />
    <h2>Ece Bal</h2>
  </div>
  <div>
    <img id="elfiework" src="/images/elfiemahe.jpg" />
    <h2>Elfie Mahé</h2>
  </div>
  <div>
    <img id="estinework" src="/images/estinecoquerellejpg.jpg" />
    <h2>Estine Coquerelle</h2>
  </div>
  <div>
    <img id="bunuelwork" src="/images/Luis_Bunueljpg.jpg" />
    <h2>Luis Bunuel</h2>
  </div>
</section>