.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

#home-title {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#logo {
  height: 200px;
  width: 200px;
  background-image: url("/images/logo-shop-transparent-estine-coquerelle.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
